main {
  font-size: 20px;
}
section {
  display: inline-block;
  margin: auto;
}

header {
  font-size: 30px;
  display: flex;
  background-color: rgba(147, 248, 248, 0.432);
}
.logo {
  display: flex;
}
.logo img {
  height: 100px;
}
img {
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
}
#history {
  background-color: rgb(126, 223, 226);
}
#food {
  background-color: rgba(70, 192, 186, 0.932);
}
#about {
  background-color: rgba(67, 156, 141, 0.726);
}

#interest {
  background-color: rgba(100, 158, 224, 0.801);
}

#HouseCulture {
  height: 500px;
}
figcaption {
  text-align: center;
}
